# ======================
# JAVA / SPRING
# ======================
backend/target/
backend/*.log
backend/logs/
backend/.classpath
backend/.project
backend/.settings/

# Maven wrapper logs
backend/.mvn/wrapper/maven-wrapper.jar

# ======================
# NODE / REACT
# ======================
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.cache/


# ======================
# ENV / SECRETS
# ======================
.env
.env.*
application-local.properties